
@import url("https://js.arcgis.com/4.6/esri/css/main.css");
@import url("https://js.arcgis.com/4.6/dijit/themes/claro/claro.css");
@import './variables.scss';

.esri-ui-manual-container>.esri-component {
  display: none;
}

.esri-widget {
  background-color: $panel-background-color;
}
.esri-widget--button {
  background-color: $panel-background-color;
  border: 1px solid $btn-border-color !important;
  color: $btn-text-color;
  // box-shadow: 0px 0px 10px 2px rgba(#ffffff, 0.1) inset, 0px 0px 10px 2px rgba(#ffffff, 0.05) !important;
  &:hover {
    background-color: $panel-background-color;
    border-color: $btn-border-color-active !important;
    color: $btn-text-color-active;
  }
  &:active {
    background-color: $panel-background-color;
    border-color: $btn-border-color-active !important;
    color: $btn-text-color-active;
  }
}
.esri-widget-button {
  background-color: $panel-background-color;
  border: 1px solid $btn-border-color !important;
  color: $btn-text-color;
  &:hover {
    background-color: $panel-background-color;
    border-color: $btn-border-color-active !important;
    color: $btn-text-color-active;
  }
  &:active {
    background-color: $panel-background-color;
    border-color: $btn-border-color-active !important;
    color: $btn-text-color-active;
  }
}
.esri-navigation-toggle__button:before {
  border-color: transparent $btn-border-color transparent transparent;
}
.esri-search__form {
  border: 1px solid $btn-border-color;
  color: $input-text-color !important;
  &:hover {
    border-color: $btn-border-color-active !important;
  }
}
.esri-search__input {
  color: $input-text-color !important;
}
.esri-search__suggestions-menu {
  background-color: $panel-background-color !important;
  border: 1px solid $btn-border-color;
  color: $btn-text-color;
  &:hover {
    border-color: $btn-border-color-active;
  }
  li {
    &:hover {
      background-color: transparent !important;
      color: $btn-text-color-active;
    }
  }
}
.esri-basemap-gallery__item {
  &:hover {
    background-color: transparent;
    border: 1px solid $btn-border-color;
  }
}
.esri-basemap-gallery__item--selected {
  background-color: transparent;
  border: 1px solid $btn-border-color-active;
  &:hover {
    background-color: transparent;
    border: 1px solid $btn-border-color-active;
  }
}

.esri-view-surface--inset-outline {
  &::after {
    display: none;
  }
}

.esri-widget table {
  color: $input-text-color;
}

.esri-popup__feature-buttons .esri-popup__action {
  color: $primary-text-color-low;
  &:hover {
    color: $primary-text-color-light;
  }
}
.esri-popup__button {
  color: $primary-text-color-low;
  &:hover {
    color: $primary-text-color-light;
  }
}

.esri-popup--aligned-top-center,
.esri-popup--aligned-top-right,
.esri-popup--aligned-top-left,
.esri-popup--aligned-bottom-center,
.esri-popup--aligned-bottom-left,
.esri-popup--aligned-bottom-right {
  background: $panel-background-color;
  border: 1px solid $panel-border-color;
  font-size: 14px;
}
.esri-popup__pointer-direction {
  background: $panel-background-color;
  border: 1px solid $panel-border-color;
}
.esri-popup__pagination-page-text {
  color: $primary-text-color-low;
}
