.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
}
  
.flex-row-reverse {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-align-items: stretch;
  align-items: stretch;
}
  
.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
}
  
.flex-col-reverse {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flex-item-fill {
  flex: auto;
}

.flex-item-1 {
  flex: 1;
}

.flex-item-auto {
  flex: content;
}

.justify-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.vertical-center {
  align-items: center !important;
}

.item-vertical-center {
  align-self: center !important;
  -webkit-align-self: center !important;
}

.height-fill {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
