$primary-color: #5287c4;
$primary-color-light: #5287c4;
$primary-text-color: rgb(80, 148, 228);
$primary-text-color-low: #999;
$primary-text-color-light: #f3f4f5;

$header-background-color: rgb(11, 21, 50);

$panel-border-color: $primary-color;
$panel-background-color: rgba(7, 39, 77, .85);
$panel-background-color-hover:rgb(7, 39, 77);


$btn-border-color: $primary-color;
$btn-text-color: $primary-color;
$btn-border-color-active: $primary-text-color-light;
$btn-text-color-active: $primary-text-color-light;
$btn-width: 7.6vw;
$btn-height: 36/136 * $btn-width;
$btn-font-size: 0.125 * $btn-width;

$input-text-color: $primary-text-color-light;

$box-shadow-size: 6px;

$switch-bar-height: $btn-height / 1.4;
$switch-bar-width: $switch-bar-height;
$switch-width: $switch-bar-width * 2.5;
$switch-height: $switch-bar-height * 1.1;

$layout-footer-height: 2.5vw;
