$primary-color: #5283c0;
$primary-text-color: rgb(80, 148, 228);

$panel-border-color: $primary-color;
$panel-background-color: rgb(11, 21, 50);

$btn-border-color: #2a4d81;
$btn-text-color: #2a4d81;
$btn-border-color-active: #ccc;
$btn-text-color-active: #ccc;
$input-text-color: #ccc;
